.about-content {
	margin: auto;
	padding: 80px;
	width: 70%;
	font-size: 18px;
	line-height: 21px;
}

h1 {
	text-align: center;
	font-style: bold;
	font-size: 36px;
}

.content {
	margin-top: 5%;
	margin-bottom: 5%;
}

.content p {
	font-size: 18px;
	margin: 3% 0;
}

.content1-img {
	display: block;
	margin: auto;
}

.content2 {
	display: flex;
	flex-direction: row;
}

.content2-img {
	width: 50%;
}

.content2-text {
	width: 50%;
	margin-left: 3%;
}
