.signin-content {
	max-width: 100%;
	margin: 7% 0;
}

.signin-wrap {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.signin-header {
	font-weight: bold;
	font-size: 48px;
	color: #000000;
	padding: 1% 7%;
}

.signin-form {
	max-width: 100%;
	width: 25%; 	
}

.btn-text-right {
	display: flex;
	flex-direction: row;
}
.signin-button {
	background: #4267b2;
	color: #fff;
	width: 40%;
}
.text-right-button {
	display: inline-table;
	margin-left: 3%;
}