.w3-content {
	width: 40%;
}
.product {
	display: flex;
	margin-top: 1%;
}
.product-title {
	font-size: 20px;
	font-weight: 700;
}
.summary {
	width: 60%;
	padding: 0 20px;
	font-family: 'myFont' !important;
}
.summary > * {
	margin-bottom: 15px;
}
.stock {
	font-size: 12px;
	color: #c4c4c4;
}
.product-price {
	color: #4267b2;
	border-top: solid 1px #e7e7e7;
	border-bottom: solid 1px #e7e7e7;
	padding: 10px 0;	
	font-size: 20px;
	font-weight: 700;
}
.categories a {
	color: #0056b3;
}

/*Quantity và Button add to cart*/
.buy {
	display: flex;
	justify-content: space-evenly;
}
.quantity {
	width: 25%;
	font-weight: 700;
	border: 1px solid #eeeeee;
	text-align: center;
}
.quantity button {
	border: 0;
	background: none;
	height: 40px;
	width: auto;
	padding: 0 15px;
}
#qty {
	border: 0;
	text-align: center;
}
.button-cart {
	width: 35%;
}
.buy-now {
	border: 1px solid #4267b2;
	background: #4267b2!important;
	color: #fff!important;
}
.add-to-cart {
	height: 42px;
	width: 100%!important;
	background: #a4bce5;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 3% 0;
}
.add-to-cart2 {
	border: 1px solid #a4bce5;
	background: #a4bce5!important;
	color: #fff!important;
}
#link-add-to-cart {
	color: #fff;
}

/*Nav tabs*/
.nav-tabs {
	padding-left: 20px;
	margin-bottom: 2%;
}
.tab-content {
	font-size: 14px;
	padding-left: 20px;
}

/*Related Product*/
.related-product-header {
	margin: 0 auto;
	margin-bottom: 2%;
	font-size: 24px;
	font-weight: 500;
	width: 30%;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
}
.related-product {
	margin: 30px auto;
	margin-top: 50px;
	font-family: 'myFont';
	border-radius: 13px;
}
.related-items {
	display: flex;
	padding: 10px;
	justify-content: space-between;
}
.related-item {
	
}
.related-item:hover {
	color: #000
}
.photo {
	display: flex;
	overflow: hidden;
	justify-content: center;
}
.photo img {
	transition: all 0.3s ease;
	max-width: 100%;
	transform: scale(1.1);
}
.photo:hover img {
	transform: scale(1);
}
.info {
	text-align: center;
	margin-top: 2%;
}
.info p:nth-child(2) {
	color: #4267b2;
	font-size: 18px;
}