p {
	margin: 0;
}
.btn {
	border-radius: 0 0 0 0;
}
.btn-room {
	background: #fff;
	color: #000;
}
.index-content {
	font-family: 'myFont' !important;
}
.product-name {
	font-weight: 600;
}

/*Sale*/
#sale {
	display: flex;
	justify-content: space-around;
}
#sale-section {
	width: 32%
}
.sale-img {
	position: relative;
}
.sale-tag {
	border: 1px solid #fff;
	background: #fff;
	position: absolute;
	right: 50%;
	transform: translate(50%, -23px);
	padding: 10px;
	border: 1px solid rgba(175,175,175,0.34);
}
@media screen and (max-width: 600px) {
	.sale-tag {
		display: none
	}
}
.sale-info {
	text-align: center;
	margin-top: 35px;
}
#sale-img, .popular-img img {
	max-width: 100%
}
.save-img img, .new-img img{
	max-width: 100%
}


/*Room*/
.room {
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 600px) {
	.room > * {
		width: 100%
	}
	.room ? * .btn {
		padding: 5px!important
	}
	.text-room {
		font-size: 14px!important
	}
	.room-img {
		width: 100%!important
	}
	.room-img img {
	max-width: 100%
}
}
.room-img {
	width: 32%;
}
.title {
	font-size: 28px;
	margin: 2% 0 2% 0;
	text-align: center;
	font-weight: 500;
}
.title-room {
	margin-top: 5%;
}
.title-more {
	font-size: 28px;
	font-weight: 500;
	margin-top: 5%;
	text-align: center;
	font-style: bold;
}
.more {
	text-align: center;
	display: block;
	margin-bottom: 2%;
}
.livingroom, .bedroom, .diningroom {
	position: relative;
}
.living-center, .bed-center, .dining-center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 50%;
}
.text-room {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding-bottom: 5%;
}
.room-more {
	font-size: 14px;
}

/*New Arivals*/
#new {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#new-section {
	width: 20%;
	margin: 0 5%;
	margin-bottom: 5%;
}
.info {
	text-align: center;
	margin: 2% 0 5% 0;
}

/*Save Space*/
.savespace-title {
	margin-top: 0;
}
.savespace {
	display: flex;
	justify-content: center;
}
.save1 {
	margin-right: 8%;
}
.save-text {
	font-size: 22px;
	font-weight: 500;
	margin-top: 2%;
}
@media screen and (max-width: 600px) {
	.save-text {
		font-size: 14px;
	}
	.sub-text {
		font-size: 15px;
	}
}

/*Most Popular*/
#popular {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#popular-section {
	width: 32%;
	margin-bottom: 4%;
}

/*Subscribe*/
.subscribe {
	margin-bottom: 5%;
}
.sub-text {
	font-size: 18px;
}
.sub-form {
	display: flex;
	justify-content: center;
	margin: 2% 0;
}
.sub-email{
	width: 40%;
	height: 50px;
	padding: 0 2%;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.btn-sub {
	left: 50%;
	padding: 0!important;
	width: 150px!important;
	height: 50px;
	background: #4267b2;
	color: #fff;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}