/***************
Trang index.html
***************/
@media screen {}

 /**************
 Trang about.html
 **************/
 @media (max-width: 1200px) {
 	.content2 {
 		align-items: center;
 	}
 	.content2-text {
 		max-width: 100% !important;

 	}
 }

 /**************
 Trang contact.html
 **************/

  /**************
 Trang signin.html
 **************/
 @media all and (max-width: 320px) {
 	.signin-wrap {
 		display: flex;
 		flex-direction: column !important;
 	}

 	.signin-form {
 		width: 80% !important;
 		margin: 0 auto;
 	}

 	.signin-header {
 		font-size: 24px !important;
 		margin: 0 auto !important;
 	}
 }

 @media all and (max-width: 600px) {
 	.signin-form {
 		width: 45% !important;
 		margin: 0 auto !important;
 	}
 }

